@import '../normalize.scss';
@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

p {
  margin: 0;
}

.page-section {
  padding: 52px 20px;
  position: relative;
}

.section--title {
  color: $title-color;
  font-size: 2.2em;
  letter-spacing: -0.2px;
}

.section--subtitle {
  font-size: 1.3em;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto 10px;
}
