/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #EBEFF2;
$title-color: #212121;
$text-color: #636465;
$text-color-dark: #9AA7AF;
$brand-color: #FED619;
$brand-brown: #7D5A4D;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Open Sans', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
