@import '../variables.scss';

.Navigation {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 1000px;
  padding: 34px 45px 20px;

  &--logo {
    color: #755F56;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: -25px;

    > .icon-banana {
      height: 40px;
      transform: translateY(30%);
      margin-right: 5px;
    }
  }

  &--link {
    margin-left: 36px;
    padding-bottom: 5px;
    color: $brand-brown;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $brand-color;
    }
  }

  &--signup {
    color: $brand-brown;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 30px;
    padding: 10px 20px;
    font-weight: 600;
    background-color: $brand-color;
    border-radius: 30px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #F3C800;
    }
  }
}

