@import '../variables.scss';

.Features {
  padding-top: 80px;
  padding-bottom: 150px;
  overflow: hidden;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 650px;
    margin: 50px auto 45px;
    padding: 0 0 0 85px;
    text-align: left;
  }

  &--single {
    font-size: 1.1em;
    line-height: 1.5;
    padding-bottom: 20px;
    width: 50%;

    &:nth-child(odd) {
      width: 45%;
      margin-right: 5%;
    }

    > img {
      height: 30px;
      margin-right: 5px;
      transform: translateY(30%);
    }
  }

  &-footer {
    margin-bottom: 60px;
  }

  &-image--drink {
    height: 600px;
    position: absolute;
    left: 10vw;
    bottom: 0;
    z-index: 1;
  }

  &-image--peel {
    position: absolute;
    z-index: 1;
    right: 3vw;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 200px;
    width: 105%;
    bottom: -50px;
    left: 0;
    transform: rotate(-3deg);
  }
}

.button--join-now {
  color: $brand-brown;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 33px;
  font-size: 0.9em;
  font-weight: 600;
  background-color: $brand-color;
  border-radius: 30px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #F3C800;
  }
}

@media (max-width: $screen-sm-min) {
  .Features {
    &-wrapper {
      padding: 0;
      font-size: 0.8em;
    }

    &--single {
      display: flex;

      > img {
        height: 20px;
        transform: translateY(5%);
      }
    }

    &-image--drink {
      height: 250px;
      left: 20px;
    }

    &-image--peel {
      height: 100px;
      bottom: 80px;
      right: -50px;
    }
  }
}
