@import '../variables.scss';

.Testimonials {
  padding-top: 37px;
  position: relative;
  background: linear-gradient(
    -1deg,
    transparent,
    transparent 10%,
    #fff 10%,
    #fff 100%
  );

  &--block-wrapper {
    margin: 45px 0 120px;
  }

  &--block {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 60px;

    &:before {
      content: '';
      position: absolute;
      background-color: $body-bg;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      transform: rotate(-0.7deg);
    }
  }

  &--quote {
    color: $text-color-dark;
    position: relative;
    line-height: 1.6;
    font-weight: 300;
  }

  &--author {
    position: absolute;
    right: 15px;
    bottom: -50px;
    display: flex;
    align-items: center;

    &-name {
      color: #738992;
      margin-right: 10px;
      margin-top: 30px;
      font-weight: 600;
    }
  }

  &--prev {
    left: -40px;
  }

  &--next {
    right: -40px;
  }
}

.Testimonials--fade-enter {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);

  .Testimonials--quote, .Testimonials--author-name {
    transform: translateX(30px);
    opacity: 0;
  }

  .Testimonials--author-image {
    opacity: 0;
  }
}

.Testimonials--fade-enter.Testimonials--fade-enter-active {
  .Testimonials--quote {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 300ms ease 500ms, transform 300ms cubic-bezier(.56, .22, .36, 1.27) 500ms;
  }

  .Testimonials--author-name {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 300ms ease 600ms, transform 300ms cubic-bezier(.56, .22, .36, 1.27) 600ms;
  }

  .Testimonials--author-image {
    opacity: 1;
    transition: opacity 500ms ease 1000ms;
  }
}

.Testimonials--fade-leave {
  &:before {
    background-color: transparent;
  }

  .Testimonials--quote, .Testimonials--author-name {
    transform: translateX(0);
    opacity: 1;
  }

  .Testimonials--author-image {
    opacity: 1;
  }
}

.Testimonials--fade-leave.Testimonials--fade-leave-active {
  .Testimonials--quote {
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms cubic-bezier(.56, .22, .36, 1.27);
  }

  .Testimonials--author-name {
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 300ms ease 100ms, transform 400ms cubic-bezier(.56, .22, .36, 1.27) 200ms;
  }

  .Testimonials--author-image {
    opacity: 0;
    transition: opacity 500ms ease 200ms;
  }
}

@media (max-width: $screen-sm-min) {
  .Testimonials {
    &--prev {
      top: 175%;
      left: 35%;
    }

    &--next {
      top: 175%;
      right: 35%;
    }
  }
}
