@import '../variables.scss';

.Testimonials {
  background-color: #fff;
  overflow: hidden;
  padding-top: 37px;

  &--block-wrapper {
    margin: 45px 0 120px;
  }

  &--block {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 60px;

    &:before {
      content: '';
      position: absolute;
      background-color: $body-bg;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      transform: rotate(-0.7deg);
    }
  }

  &--quote {
    color: $text-color-dark;
    position: relative;
    line-height: 1.6;
    font-weight: 300;
  }

  &--author {
    position: absolute;
    right: 15px;
    bottom: -50px;
    display: flex;
    align-items: center;

    &-name {
      color: #738992;
      margin-right: 10px;
      margin-top: 30px;
      font-weight: 600;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background-color: $body-bg;
    height: 70px;
    width: 105%;
    bottom: -35px;
    left: 0;
    transform: rotate(-1deg);
  }
}

.Testimonials--fade-enter {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  .Testimonials--quote, .Testimonials--author-name {
    transform: translateX(30px);
    opacity: 0;
  }

  .Testimonials--author-image {
    opacity: 0;
  }
}

.Testimonials--fade-enter.Testimonials--fade-enter-active {
  .Testimonials--quote {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 300ms ease 500ms, transform 300ms ease 500ms;
  }

  .Testimonials--author-name {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 300ms ease 600ms, transform 300ms ease 600ms;
  }

  .Testimonials--author-image {
    opacity: 1;
    transition: opacity 500ms ease 1000ms;
  }
}

.Testimonials--fade-leave {
  &:before {
    background-color: transparent;
  }

  .Testimonials--quote, .Testimonials--author-name {
    transform: translateX(0);
    opacity: 1;
  }

  .Testimonials--author-image {
    opacity: 1;
  }
}

.Testimonials--fade-leave.Testimonials--fade-leave-active {
  .Testimonials--quote {
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease;
  }

  .Testimonials--author-name {
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 300ms ease 100ms, transform 400ms ease 200ms;
  }

  .Testimonials--author-image {
    opacity: 0;
    transition: opacity 500ms ease 200ms;
  }
}
