@import './normalize.scss';
@import './variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

p {
  margin: 0;
}

.page-section {
  text-align: center;
  padding: 52px 20px;
  position: relative;

  &.Main-header {
    min-height: 670px;
  }
}

.Main-header--banana {
  opacity: 0;
}

.animicon {
  position: relative;

  > span {
    transform: scale3d(0, 0, 0);
    display: inline-block;
  }
}

.section--title {
  color: $title-color;
  font-size: 2.2em;
  letter-spacing: -0.2px;

  &.animated {
    opacity: 0;
    animation: fadeInDown 0.5s cubic-bezier(0.21, 0.12, 0.32, 1.29);
    animation-fill-mode: forwards;
  }
}

.section--subtitle {
  font-size: 1.3em;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto 10px;

  &.animated {
    opacity: 0;
    animation: fadeInDown 0.4s cubic-bezier(0.21, 0.12, 0.32, 1.29) 0.3s;
    animation-fill-mode: forwards;
  }
}

.Testimonials--prev, .Testimonials--next {
  position: absolute;
  top: 50%;
  width: 15px;
  display: block;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 1;
  }
}

.icon-left, .icon-right {
  max-width: 100%;
}

.Coming {
  min-height: 500px;
  animation: fadeInUp 0.7s cubic-bezier(0.21, 0.12, 0.32, 1.29);
  animation-fill-mode: forwards;

  &--subtitle {
    text-transform: uppercase;
    position: absolute;
    font-size: 3em;
    left: 10vw;
    top: 15%;
    letter-spacing: 10px;
  }

  &--title {
    text-transform: uppercase;
    font-size: 26vw;
    color: $brand-color;
    text-align: center;
    transform: translateX(-9%);
  }

  &:after {
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    height: 80%;
    background: $brand-color;
    animation: slideOut 1s cubic-bezier(0.690, 0.005, 0.000, 1.005) 1s;
    animation-fill-mode: forwards;
  }
}

.Footer {
  &-padding {
    background-color: #fff;
    padding-top: 100px;
  }
}

@media (max-width: $screen-sm-min) {
  .Coming {
    &--subtitle {
      font-size: 2em;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 10%;
    }
  }
}

/*
 * CSS Animations
 * -------------------------------------------------------------------------- */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
